[package]
name = "lancelot"
version = "0.2.0"
authors = ["Willi Ballenthin <wilbal1087@gmail.com>"]
edition = "2018"

[badges]
travis-ci = { repository = "https://github.com/williballenthin/lancelot", branch = "v0.2.0-line" }

[dependencies]
log = "0.4"
goblin = "0.2"
zydis = "3"
byteorder = "1"
bitflags = "1"
lazy_static = "1"
clap = "2"
fern = "0.6"
chrono = "0.4"
anyhow = "1"
thiserror = "1"
better-panic = "0.2"
md5 = "0.6"
regex = "1"
smallvec = "1"
fnv = "1"

flirt = { path = "../flirt" }

[features]
# The reason we do this is because doctests don't get cfg(test)
# See: https://github.com/rust-lang/cargo/issues/4669
test = []
