name: CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test
    runs-on: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gcc make git cmake protobuf-compiler
      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check
      - name: fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          toolchain: nightly
          args: --all -- --check
      - name: clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          toolchain: nightly
          args: -- -D warnings
      - name: test core
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p lancelot
      - name: test flirt
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p lancelot-flirt
      - name: test pylancelot
        working-directory: ./pylancelot/
        run: |
          pip install -U pip setuptools maturin pytest pefile
          maturin develop
          pytest
      - name: test pyflirt
        working-directory: ./pyflirt/
        run: |
          pip install -U pip setuptools maturin pytest pefile
          maturin develop
          pytest
